.wrapper {
  width: 800px;
  margin: auto;
}
header img {
  width: 100%;
}
header h1 {
  font-family: 'Slabo 27px', serif;
  font-color: grey;
  font-size: 4em;
}
main {
  height: auto;
}
main h3 {
  font-family: 'Montserrat', sans-serf;
  font-size: 1.25em;
  padding-top: 10px;
  padding-bottom: 100px;
}
footer {
  height: 200px;
  background-color: #9e9d93;
  padding-bottom: 50px;
}
footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  color: white;
}
a:link    { color: white; }
a:visited { color: #fffab2;   }
a:hover   { color: #fffab2; }
a:active  { color: white;  }
footer h2 {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 2em;
  padding-top: 50px;
}
